body {
	font-family: cursive;
	background-color: DimGrey;

}


h1 {
	color: #00ff00;
}


h3 {
	color: #00ff00;
}


h2 {
	color: #00ff00;
}


a:link {
	color: #9400d3;
}


a:visited {
	color: #ff1493;
}


a:hover {
	color: #00bfff;
}


*{
	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-ms-box-sizing: border-box;
    	box-sizing: border-box;
}

.project-image {
	max-width: 400px;
	min-height: 300px;
}


<<<<<<< HEAD
.logo {
=======
.logo{
>>>>>>> 88903b42977e28cc69b8341decc11f7875f68ba4
	max-width: 100px;
	min-height: 100px;
}

<<<<<<< HEAD
.featured-picture {
	max-width: 1140px;
	max-height: 350px;
}
=======
.featured-picture{
	max-width: 1140px;
	max-height: 350px;
}
>>>>>>> 88903b42977e28cc69b8341decc11f7875f68ba4
